<p><%= @resource.first_name %>さん、WACCAへようこそ！</p>
<br>
<p>以下のURLをクリックして、本登録を完了させてください。<p>
<%= link_to '本登録完了ページへ',confirmation_url(@resource, confirmation_token: @token)%>
<br>
<p> Webページを開く<p>
<p> http://localhost:3000//
<br>
<p>※こちらは送信専用アドレスとなっております。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。<p>
<p>--------------------------------------------------------------<p>
<p>ご登録の覚えがないのにこのメールが届いたという方<p>
<p>ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<p>
<p>******@****.jp<p>
<p>--------------------------------------------------------------<p>
  