<%= render "layouts/shared/header" %>

<div class = chat-room-name>
  <ul class = room-name>
    <li>佐藤 例一<li>
    <li>佐藤 例二<li>
    <%# <% @rooms.each do |room| %>
    <%# <li><%= link_to @requester.name,  "#", class: "logout" %> 
    <%# <% end %>
  </ul>
</div>