<%= render "layouts/shared/header" %>

<div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        <p>メールを送信しました。<p>
        <p>メールのURLをクリックして本登録を完了させてください。<p>
      </h1>
    </div>
</div>